body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #fff;
    color: #4d4d4d;
    font: 1.4rem 'Comic Sans MS', "Microsoft YaHei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#todo-app {
    margin: auto;
    background: #fff;
    position: relative;
}

/*************  header ***************/
h1 {
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(175, 47, 47, 0.15);
    text-rendering: optimizeLegibility;
}

/*************  section-main ***************/
.main {
    width: 32.4rem;
    position: relative;
    margin: auto;
    z-index: 2;
}

/*** add-new-item ***/
.toggle-all {
    margin-right: 0.5rem;
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    vertical-align: bottom;
    border: rgba(175, 47, 47, 0.5) 0.2rem solid;
    background-color: white;
    border-radius: 100%;
    left: 0.6rem;
}

.toggle-all.selected-all::after {
    content: '✔';
    color: rgba(175, 47, 47, 0.5);
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
}

#new-todo {
    width: 60%;
    height: 2rem;
    margin: 0 0.2rem;
    padding: 0 0.8rem;
    line-height: 3.2rem;
    font-size: 1.6rem;
    color: #555;
    border: rgba(175, 47, 47, 0.2) 0.1rem solid;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    left: 0;
}

#new-todo::placeholder {
    font-style: italic;
    font-weight: 100;
    color: #e6e6e6;
}

.date-select {
    width: 2.2rem;
    height: 2.2rem;
    display: inline-block;
    position: relative;
    vertical-align: sub;
    background-image: url('./pic/date-select.png');
    background-size: 100% 100%;
    left: -0.1rem;
}

#add-btn {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    background: rgba(175, 47, 47, 0.5);
    border-radius: 100%;
    color: white;
    font-size: 1.6rem;
    vertical-align: bottom;
    text-align: center;
    display: inline-block;
    position: relative;
    left: -0.8rem;
}

/*** show-list ***/
#show-list {
    width: 80%;
    background: #FFF;
    font-size: 1.8rem;
    margin: 1.5rem auto auto;
    padding: 0.5em 1em;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2),
    0 0.8rem 0 -0.3rem #f6f6f6,
    0 0.9rem 0.1rem -0.3rem rgba(0, 0, 0, 0.2),
    0 1.6rem 0 -0.6rem #f6f6f6,
    0 1.7rem 0.2rem -0.6rem rgba(0, 0, 0, 0.2);
}

/* show-bar */
#show-bar {
    color: #777;
    text-align: center;
    font-size: 1.2rem;
}

#todo-count {
    float: left;
    text-align: left;
}

.filters {
    margin: 0 0 0 7.5rem;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

.filters li {
    display: inline;
}

.filters li a {
    margin: 0.2rem 0.1rem;
    padding: 0 0.5rem;
    text-decoration: none;
    border: 0.1rem solid transparent;
    border-radius: 0.3rem;
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.5);
}

/*todolist*/
#todo-list {
    display: block;
    width: 100%;
    max-height: 20rem;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.todo-item {
    position: relative;
    width: 130%;
    height: 4rem;
    line-height: 4rem;
    margin: auto;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.05);
    vertical-align: bottom;
    overflow: hidden;
    z-index: 1;
}

.item-toggle {
    width: 2rem;
    height: 2rem;
    float: left;
    text-align: center;
    line-height: 2rem;
    border: rgba(175, 47, 47, 0.5) 0.1rem solid;
    margin: 1.5rem 1rem;
    vertical-align: bottom;
    border-radius: 100%;
}

.todo-item.completed .item-toggle::after {
    color: rgba(175, 47, 47, 0.5);
    content: '✔';
}

.item-content {
    float: left;
    height: 4rem;
    line-height: 4rem;
    margin: 0.5rem 0;
    min-width: 16rem;
    width: 46%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-date {
    float: left;
    height: 4rem;
    width: 18%;
    font-size: 1rem;
    margin: 1.6rem 0;
    color: #aaaaaa;
    line-height: 1rem;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.item-date.td {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 1.8rem 0;
    color: #F15732;
}

/**** item-btns-swipe-left  ****/
.swipe-left {
    transform: translateX(-106%);
    -webkit-transform: translateX(-106%);
}

.item-btns {
    float: right;
    width: 22%;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    display: block;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.item-delete {
    position: relative;
    display: inline-block;
    width: 50%;
    background: #F15732;
}

.item-top {
    position: relative;
    display: inline-block;
    width: 50%;
    background: #c5c0c0;
}

/**** edit  ****/
.todo-item .edit {
    font-size: 2rem;
    position: absolute;
    top: 0.3rem;
    left: 3.9rem;
    display: inline-block;
    line-height: 3.9rem;
    width: 60%;
    text-align: left;
    vertical-align: baseline;
    z-index: 100;
}

.todo-item.completed .item-content {
    text-decoration: line-through;
    color: #aaa;
}

/**** item-longTap  ****/
.item-all-content {
    position: absolute;
    top: 4rem;
    left: 4rem;
    width: 60%;
    max-height: 4rem;
    margin: auto;

    font-size: 1.4rem;
    transform: translateX(0%) translateY(-100%);
    color: white;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 6px;
    z-index: 100;
}

.item-all-content > div {
    position: relative;
    top: 0.2rem;
    left: 0.8rem;
    margin: 0;
    width: 19rem;
    height: 4rem;
    line-height: 1.4rem;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    overflow-y: auto;
}

/*************  footer ***************/
#clear-btn {
    color: #777;
    margin: 2rem;
    padding: 0.2rem 1.5rem;
    font-size: 1.2rem;
    background: rgba(177, 107, 107, 0.1);
    border: 0.1rem solid rgba(175, 47, 47, 0.3);
    border-radius: 0.5rem;
}

/******************* calender ************************/
.calender {
    width: 32.4rem;
    height: 22rem;
    position: relative;
    margin: auto;
    border-radius: 3rem;
    font-family: 'Arimo', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #999;
    text-align: center;
    box-sizing: border-box;
}

/**** year-month-bar  ****/
.year-month-bar {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.year-month-bar > div {
    display: inline-block;
    vertical-align: bottom;
}

.lastMBtn, .nextMBtn {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 2.2rem;
    position: absolute;
    top: 0;
}

.lastMBtn {
    left: 1.5rem;
}

.nextMBtn {
    right: 1.5rem;
}

/**** week-bar  ****/
.week-bar, .days {
    margin-left: 1rem;
}

.week {
    cursor: default;
    color: #aaa;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/**** days  ****/
.day, .week {
    cursor: pointer;
    width: 4rem;
    height: 2.5rem;
    margin: 0 0rem;
    display: inline-block;
    float: left;
    border-bottom: #e6c6c6 0.08rem solid;
    z-index: 2;
}

.day.highlight {
    color: #F15732;
    font-family: 'Comic Sans MS', "Microsoft YaHei", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.not {
    color: #ccc;
}

/**** day-detail  ****/
.day-detail {
    position: absolute;
    padding: 0.5rem 0;
    width: 24rem;
    top: 8rem;
    left: 3rem;
    height: 11rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.6rem;
    color: #edecec;
    overflow-y: scroll;
    z-index: 100;
}

.detail-item {
    z-index: 200;
}

.detail-item div {
    display: inline-block;
    height: 1.4rem;
}

.tag {
    position: relative;
    width: 1.4rem;
    border-radius: 100%;
    left: -3rem;
}

.msg {
    width: 10rem;
}